/* Estilo geral para ambas as páginas */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Estilo para o formulário no index.html */
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: #cc0000;
}

/* Estilos específicos para obrigado.html */
main {
    text-align: center;
    padding: 50px 20px;
}

main h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

main p {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
}

/* Botão de voltar na página obrigado.html */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

a:hover {
    background-color: #cc0000;
}
